[telegram_api]
# get here: https://core.telegram.org/api/obtaining_api_id
api_id = *api_id here*
api_hash = *api_hash here*
# number of thread to receive data from tg api
workers = 3
# you can use few accounts, change session name
session_name = user
[app]
name = TelegramTUI v0.8.1
message_dialog_len = 50
[proxy]
# type:
type = *[SOCKS4|SOCKS5|HTTP]*
addr = *ip add here*
port = *port here*
# Set username and password only for SOCKS*
username = None
password = None
[other]
timezone = +3
emoji = False
# ASCII image art
aalib = False